html {
  font-size: 62.5%; }

body {
  font: 1.6rem/ 1.25  Arial, sans-serif, Georgia;
  margin: 0 auto; }

p {
  color: black; }

.wrapper {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }

img {
  border-radius: 8px;
  object-fit: cover;
  width: 300px;
  height: 300px; }

ul {
  padding: 0;
  margin-left: 1em;
  margin-right: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none; }
  ul .titles {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-top: 3px;
    height: 60px;
    width: 100%;
    background-color: black;
    opacity: .75;
    transform: translate(0, -68px);
    animation-name: fadeIn;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: 1; }
    ul .titles h2 {
      background-image: url(../image-gallery-assets/UserIconOpt.svg);
      background-repeat: no-repeat;
      font-size: .75em;
      color: white;
      padding-left: 20px;
      margin-left: 10px; }
      @media (min-width: 800px) {
        ul .titles h2 {
          font-size: .9em;
          padding-left: 25px; } }
    ul .titles h3 {
      background-image: url(../image-gallery-assets/HeartOpt.svg);
      background-repeat: no-repeat;
      font-size: .65em;
      color: white;
      padding-left: 20px;
      margin-left: 10px; }
      @media (min-width: 800px) {
        ul .titles h3 {
          font-size: .8em;
          padding-left: 25px; } }

footer p {
  font-size: .5em; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: .75; } }

@media (min-width: 600px) {
  li {
    padding: 5px; } }

@media (min-width: 800px) {
  .titles {
    transform: translate(0, 0);
    animation-name: imageHover; }
  li:hover .titles {
    animation-name: imageHover;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-iteration-count: 1; }
  @keyframes imageHover {
    0% {
      transform: translate(0, 0);
      overflow: hidden; } }
  li {
    padding: 10px; } }
