

html {
	//Makes 1 rem equl to 10px
    
    font-size: 62.5% ;
}

body{
    font: 1.6rem/ 1.25  Arial, sans-serif, Georgia;
    margin: 0 auto;
    background-color: lightgray;
    
}


p{
    color:black;
}

   .wrapper
{
  
     max-width: 1000px;
     margin-left: auto;
     margin-right: auto;
    
}

img{
    border-radius: 5px;
}

#logo{
    width:150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}



.BackPeakAnim{
    
    //transform: translate(21px,14px);
    animation-name: logoCombineBack;
    animation-duration: 2s;
    animation-timing-function: linear;
    
 

}


.FrontPeakAnim{
    
    animation-name: logoCombineFront;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1; 

}
 
 ul{
        padding: 0;
        margin-left: 1em;
        margin-right: 1em;
        
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        list-style-type: none;
     
    
  
    .titles{
       border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        padding-top: 3px;
        height: 60px;
        width: 100%;
        background-color: black;
        opacity: .75;
        transform: translate(0,-68px);
        animation-name: fadeIn;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        @media (min-width:800px) {
            
            position: absolute;
            bottom: 0;
            left:0;
            right:0;
            overflow:hidden;
            width: 94%;
            height: 0;
            transition: .5s ease;
            transform: translate(0,-10px);
            margin-left: 10px;
            
           animation-name: none;
           // animation-duration: .5s;
           //animation-timing-function: linear;
            
          // animation-iteration-count: 1;
            //transform: translate(0,0);
          //  opacity: 0;
            
        }
      
        
        
        
    h2{
        
        background-image: url(../image-gallery-assets/UserIconOpt.svg);
        background-repeat: no-repeat;
        //font-size: .75em;
        color:white;
        padding-left: 20px;
        margin-left: 10px;
        font: .75em EloquentJFSmallCapsPro;
        
        @media (min-width:800px){
            font-size: .9em;
            padding-left: 25px;
        }
    }
    h3{
        background-image: url(../image-gallery-assets/HeartOpt.svg);
        background-repeat: no-repeat;
        font-size: .65em;
        color:white;
        padding-left: 20px;
        margin-left: 10px;
        
         @media (min-width:800px){
            font-size: .8em;
            padding-left: 25px;
        }
    }
    }
    
}

   footer{
       display: flex;
       justify-content: center;
      
        p{
            font-size: .5em;
        
          
            @media (min-width:800px){
           font-size: .75em;
        }
            
        }
         
    }

#results{
    background-color: whitesmoke;
    border-radius: 10px;
    padding-top: 20px;
   // padding-bottom: 20px;
}
     @keyframes fadeIn{
        0%{opacity:0; }
        100%{opacity: .75;}
      
    }
    
    @keyframes logoCombineBack {
         from{transform: translate(21px,14px); opacity: 0
             }
        to{transform: translate(0,0);opacity: 1
            }
    }

//trying differnt way but all turn out the same
        @keyframes logoCombineFront {
         0%{transform: translate(-27px,-11px); opacity: 0
             }
        100%{opacity: 1}
    }
 

@media  (min-width:600px) {
   
  li{
        padding: 5px;
    }
}



     @media (min-width:800px) {
    
         img{
             display: block;
             width: 100%;
             height: auto;
              object-fit: cover;
              width: 300px;
            height: 300px;
         }
         li{
             position: relative;
         }
      
     li:hover .titles{
        
         height: 25%
     
        }

      li{
        padding: 10px;
        }
         
    #results{
       
    padding-bottom: 20px;
        }
}
